* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10%;
}

img:hover {
    box-shadow: rgb(50, 50, 93) 0px 2px 5px -1px, rgb(0, 0, 0) 0px 1px 10px -1px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.15s;
    transition-timing-function: ease-in;

    transform: translateY(5px);
    opacity: 1;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.image-container img {
    display: block;
    width: 1000%;
}

.overlay {
    position: absolute;

    /* Estas son las posiciones que definimos de la posición absolute */
    bottom: 0;
    left: 0;
    right: 0;

    /* Color de fondo de la letra */
    background: rgba(0, 0, 0, 0.7);

    /* Este es el color de la letra */
    color: white;

    padding: 20px;

    /* Esto se hace para ocultar el overlay mientras que no se pasa el ratón por encima */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

/* Cuando se pasa el ratón por encima se devuelve a la posición en la que estaba antes, dando así el efecto de aparecer */
.image-container:hover .overlay {
    transform: translateY(0);

}

.icon {
    width: 10px;
    height: 20px;
    margin-bottom: 10px;
    display: block;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.text {
    margin: 0;
    font-size: 14px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}