* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10%;
}

.image-container:hover {
    box-shadow: rgb(94, 23, 104) 0px 1px 10px -1px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.15s;
    transition-timing-function: ease-in;

    transform: translateY(5px);
    opacity: 1;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.76);
}

.image-container img {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;

    /* Estas son las posiciones que definimos de la posición absolute */
    bottom: 0;
    left: 0;
    right: 0;

    /* Color de fondo de la letra */
    background: rgba(0, 0, 0, 0.7);

    /* Este es el color de la letra */
    color: rgb(255, 255, 255);

    padding: 20px;

    /* Esto se hace para ocultar el overlay mientras que no se pasa el ratón por encima */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

/* Cuando se pasa el ratón por encima se devuelve a la posición en la que estaba antes, dando así el efecto de aparecer */
.image-container:hover .overlay {
    transform: translateY(0);

}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: block;
    object-fit: contain;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.icon.filled {
    filter: none;
}

.image-container.liked {
    order: -1;
}

.text {
    margin: 0;
    font-size: 14px;
}


.pinterest-header {
    display: flex;

    /* Para que todos los elementos estén alineados */
    align-items: center;

    justify-content: space-between;

    padding: 5px 10px;

    background: white;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: sticky;

    /* Esto es para que se quede arriba del todo */
    top: 0;

    /* Esto es para que se muestre por encima de cualquier elemento */
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 32px;
    width: auto;
}

/* Esto es para el container que tiene los nav-links */
.nav-links {
    display: flex;
    gap: 10px;
}

/* Esto es para cada nav link por separado */

.nav-link {
    padding: 12px 16px;
    text-decoration: none;

    color: #111;
    font-weight: 600;
    border-radius: 24px;
    transition: background 0.2s;
}

/* Si pasa el ratón por encima se activa el hover */
.nav-link:hover,
.nav-link.active {
    background: #e9e9e9;
}

.header-center {
    /* flex: 1; */
    max-width: 600px;
    margin: 0 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #efefef;
    border-radius: 24px;
    padding: 12px 16px;
    gap: 10px;
}

/* Se pone el fondo del icono de buscar del mismo color que el search bar*/
.search-icon {
    background: #efefef;
}

/* Cambia el estilo del cajón de búsqueda */
.search-bar input {
    /* Esto es para quitarle los bordes a la caja  */
    border: none;

    /* Así se hace transparente*/
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* Con esto se estilan los iconos de notificaciones, mensajes y usuario */
.header-icon {
    font-size: 24px;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    transition: background 0.2s;
}

.header-icon:hover {
    background: #e9e9e9;
}

.btn-login,
.btn-register {
    /* El padding es para que los botones ocupen más espacio para el alto y para el ancho respectivamente */
    padding: 12px 16px;

    /* Se le quita el borde */
    border: none;

    /* Para que los botones se vean más modernos se redondean las esquinas */
    border-radius: 24px;

    /* Para que los botones se vean en negrita */
    font-weight: 600;

    /* Para que cuando el usuario pase el ratón por encima se ponga como si fuera a pinchar un enlace */
    cursor: pointer;

    font-size: 16px;
}

/* Ahora se estila cada botón de manera individual */
.btn-login {
    background: #e60023;
    color: white;
}

.btn-register {
    background: #efefef;
    color: #111;
}


/* Cuando se pase el ratón por encima del botón de iniciar sesión se oscurece */
.btn-login:hover {
    background: #ad081b;
}


.btn-register:hover {
    background: #e2e2e2;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}